<section class="seccion_wrapper" id="about">
  <div class="image_container">
    <img src="assets/images/gabriel_ilustration.webp" alt="ilustración" />
  </div>
  <div class="section_content">
    <h1>Gabriel Ballón</h1>
    <p>
      I’m an industrial designer passionate about food design and software
      development. I’ve worked on a variety of projects, from product
      development (physical and digital) to brand creation. Also experienced in
      3D manufacturing and fast prototyping.
    </p>
  </div>
</section>
